{% extends 'base.html' %}

{% block title %}Emisyon Faktörü - Ekonaz Portal{% endblock %}

{% block body_class %}emissionfactor-form-bg{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/backgrounds.css' %}">
{% endblock %}

{% block content %}
<h1>{% if form.instance.pk %}Emisyon Faktörü Düzenle{% else %}Yeni Emisyon Faktörü{% endif %}</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Kaydet</button>
    <a href="{% url 'carbon:management-list' %}" role="button" class="secondary">İptal</a>
</form>
{% endblock %}