{% extends 'base.html' %}

{% block title %}Karbon Rapor Listesi - Ekonaz Portal{% endblock %}

{% block content %}
    <h1>Karbon Raporları</h1>

    <a href="{% url 'carbon:report-generate' %}" role="button">Yeni Rapor Oluştur</a>

    <figure style="margin-top: 2rem;">
        <table>
            <thead>
                <tr>
                    <th>Rapor Tarihi</th>
                    <th>Toplam CO2e (ton)</th>
                    <th>Doğrudan Oran (%)</th>
                    <th>Dolaylı Oran (%)</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                <tr>
                    <td>{{ report.report_date }}</td>
                    <td>{{ report.total_co2e|floatformat:2 }}</td>
                    <td>{{ report.direct_ratio|floatformat:2 }}</td>
                    <td>{{ report.indirect_ratio|floatformat:2 }}</td>
                    <td><a href="{% url 'carbon:report-detail' report.pk %}">Detay Görüntüle</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </figure>
{% endblock %}