{% extends 'base.html' %}
{% load static %}
{% block body_class %}personnel-form-bg{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/backgrounds.css' %}">
{% endblock %}

{% block title %}Personel Formu - Ekonaz Portal{% endblock %}
    {{ block.super }}
    <style>
        form { max-width: 800px; } /* Formu biraz daha genişletelim */
        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1rem;
        }
        .grid-full-width {
            grid-column: 1 / -1;
        }
        form ul { list-style-type: none; padding-left: 0; } /* Radyo buton listesinin girintisini kaldır */
    </style>
{% endblock %}

{% block content %}
    <h1>{{ firm.name }} - Personel Formu</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="grid">
        {% for field in form %}
            <div {% if field.name == 'address' %}class="grid-full-width"{% endif %}>
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
                {{ field }}
                {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <small style="color: var(--pico-color-red-500);">{{ error }}</small>
                {% endfor %}
            </div>
        {% endfor %}
        </div>

        <button type="submit">Kaydet</button>
    </form>
    <br>
    <a href="{% url 'core:personnel-list' firm.pk %}" role="button" class="secondary">Personel Listesine Geri Dön</a>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            // 'firm' alanını Select2'ye dönüştür
            $('#id_firm').select2({
                placeholder: "Firma seçin veya yazarak arayın",
                allowClear: true
            });
            $('#id_department').select2({
                placeholder: "Birim seçin veya yazarak arayın",
                allowClear: true
            });
        });
    </script>
{% endblock %}